/.snakemake
/.cache
/.singularities
*.pdf
/data
*files/
/.Rprofile
/.Rproj.user
/.quarto
/BiRC-Gaussian-graphical-models.html
/BiRC-Gaussian-graphical-models.pdf
/BiRC-Gaussian-graphical-models_files
/renv
/.quarto/
*.html
*.aux
*.log
report/figures
*.Rhistory